@import "base.css";

/* fonts */
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
     /* to allow the #footer to be properly positioned
    at the bottom, even when #content is longer than
    the viewport high */
    min-height: 100%;
    position: relative;
}

body {
    color: black;
    font-size: 16px;
    margin: 0px;
}

div#header {
    margin-bottom: 0px;
    height: 45px;
    padding: 1px;
    background: linear-gradient(to right,#19111f 0%,#2c1e37 100%);
}

div#logo a {
    color: #FFFFFF;
    float: left;
    font-family: Ubuntu, 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    padding-top: 10px;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: #d1cddc!important;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    padding-top: 24px;
}

span.navlink {
}

div#header #navigation a:hover{
  color: #FFFFFF;
}

div.content {
    /* mostly this is stolen from stephanboyer.com */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    margin-bottom: 5.5rem; /* footer-height + 1.5rem */
    margin-left: auto;
    margin-right: auto;

    max-width: 768px;
    width: 100%;

    padding-left: 20px;
    padding-right: 20px;
}

div#content h1{
  color: #6e618d;
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;
}

div#content, /* this line for archives page */
div#content p{
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

div#content a{
  color: #428bca;
  text-decoration: none;
}

div#footer {
    color: #999999;
    font-size: 12px;
    text-align: center;
    height: 4em;
    background-color: #323232;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    padding-top: 1em;
    font-family: 'Open Sans', sans-serif;
}

div#footer a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

div.postSummary {
    margin-top: 2px;
    margin-left: 0px;
    margin-bottom: 5px;
    margin-right: 25px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

code {
    background-color: rgba(27,31,35,0.05);
    font-family: Menlo, Monaco, "Courier New", monospace;

    padding: 1px;
    border-style: solid;
    border-color: rgba(27,31,35,0.1);
    border-width: 1px;
    border-radius: 3px;
}

code.hljs {
    /* nicely curved edges */
    border-radius: 6px;

    /* mostly to undo the styling from 'code' :/ */
    padding: 10px;
    border-style: none;
    border-width: 0px;
}

blockquote {
    background-color: rgb(250, 250, 250);
    box-sizing: border-box;

    margin-bottom: 24px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 16px;

    padding-bottom: 2px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 2px;

    /* purple sidebar */
    border-left-color: rgb(110, 97, 141);
    border-left-style: solid;
    border-left-width: 5px;

    /* thin grey border at bottom */
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
